<ul class="list-group">
  <% portfolios.forEach( function( portfolio ) { %>
      <li class="list-group-item"><%= portfolio.portName %></li>
      <!-- <li class="list-group-item"><%= portfolio.URL %></li> -->
  <% }) %>
</ul>

<% if (pageCount > 1) { %>
<ul class="pagination">
  <% if (currentPage > 1) { %>
      <li><a href="/summary2?page=1">&laquo;</a></li>
  <% } %>
  <% var i = 1;
  if (currentPage > 5) {
  i = +currentPage - 4;
  } %>
  <% if (i !== 1) { %>
      <li class="disabled"><a href="#">...</a></li>
  <% } %>
  <% for (i; i<=pageCount; i++) { %>
    <% if (currentPage == i) { %>
        <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
    <% } else { %>
        <li><a href="/summary2?page=<%= i %>"><%= i %></a></li>
    <% } %>
    <% if (i == (+currentPage + 4)) { %>
        <li class="disabled"><a href="#">...</a></li>
    <% break; } %>
  <% } %>
  <% if (currentPage != pageCount) { %>
      <li><a href="/summary2?page=<%= pageCount %>">&raquo;</a></li>
  <% } %>
</ul>
<% } %>
